* {
    margin: 0;
    padding: 0;
}
#teamControl {
    width: 100%;
    flex: 1;
    box-sizing: content-box;
}
#teamControl aside {
    width: 20%;
    height: 100%;
    position: relative;
    background-color: rgba(56,71,112,1);
}
#teamControl aside .el-tree {
    padding-top: 30px;
    color: #fff;
    background-color: rgba(56,71,112,1);
}
#teamControl .el-tree .is-current {
    background-color: rgba(56,71,112,1);
}

#teamControl .el-tree-node__content:hover,
#teamControl .el-tree-node__content:focus,
#teamControl .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: rgba(56,71,112,1);
}
#teamControl .el-tree-node__content {
    height: 50px;
}

#teamControl #page-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 2px 4px #dfdfdf;
    background-color: #fff;
    padding-left: 20px;
    font-size: 18px;
    color: rgba(81,115,168,1); 
}
#teamControl #contents {
    width: 80%;
    flex: 1;
    box-sizing: content-box;
    position: absolute;
    top: 60px;
    right: 0;
}

#teamControl #tabs {
    height: 50px;
    margin: 20px 0;
    width: 100%;
    height: 100%;
    flex: 1;
}

#teamControl .el-tabs__header {
    padding-left: 15px;
}

#teamControl .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #FFF;
    color: #FFF;
    background-color: rgb(48, 35, 174) !important; 
}

#teamControl #surpass-lack,
#teamControl #high-configuration,
#teamControl #surpass-control,
#teamControl #leader-position-mobility,
#teamControl #retirement-control,
#teamControl #grow-control {
    width: 100%;
    height: 700px; 
    overflow: scroll;
    padding-bottom: 30px;
    padding-left: 5%;
    box-sizing: border-box;
}

#teamControl #surpass-control {
    padding: 30px 5%;
}

#teamControl #surpass-lack-general,
#teamControl #high-configuration-general,
#teamControl #retirement-control-general,
#teamControl #grow-control-general {
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    background-color: #dfdfdf;
    color: rgba(92,136,241,1);
    display: inline-block;
    width: 90%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

#teamControl #surpass-lack table {
    width: 90%;
    margin: 20px 0 30px 0;
    border-collapse: collapse;
}
#teamControl #high-configuration .el-table,
#teamControl #leader-position-mobility .el-table,
#teamControl #retirement-control .el-table,
#teamControl #grow-control .el-table {
    margin: 30px 0 !important;
    border-collapse: collapse;
}

#teamControl #surpass-lack table,
#teamControl #surpass-lack table tr,
#teamControl #surpass-lack table td {
    border: 0.5px solid #ebeef5;
}

#teamControl #surpass-lack tr:first-child td {
    color: rgb(102, 102, 102);
    font-weight: 700;
}

#teamControl #leader-position-mobility tr td:last-child {
    background-color: #dfdfdf;
    color: red;
    font-size: 20px;
    font-weight: 700;
}

#teamControl #surpass-lack td {
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 16px;
}
#teamControl #high-configuration .el-table td,
#teamControl #high-configuration .el-table th,
#teamControl #leader-position-mobility .el-table td,
#teamControl #leader-position-mobility .el-table th,
#teamControl #retirement-control .el-table td,
#teamControl #retirement-control .el-table th,
#teamControl #grow-control .el-table td,
#teamControl #grow-control .el-table th {
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 16px;
}

#surpass-control {
    display: flex;
}
#teamControl #surpass-control #leader1,
#teamControl #surpass-control #leader2,
#teamControl #surpass-control #leader3 {
    width: 300px;
    height: 600px;
}